h1 {
    /*color: #000000;*/
    color: mintcream;
    /*background-color: #BBBBBB;*/
    background-color: rgb(92, 125, 226);
    padding: 10px;
    /*border: solid black thin;*/
    border-radius: 10px;
    text-align: center;
    font-family: Verdana ;
}
.hidden{
    display: none;
}
.info-block-style{
    border: solid rgb(92, 125, 226);
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: 10px;
}
