h1 {
	color: #000000;
	background-color: #47c5aa;
	padding: 10px;
	border: solid #47c5aa thin;
}

.large-photo {
	position: relative;
  }
  
  .large-photo h2 {
	margin: 0px;
	margin-left: 10px;
	position: absolute;
	bottom: 0;
	padding: 6px 20px 6px 10px;
	background: hsla(246, 96%, 50%, 0.6);
	color: white;
  }
