@keyframes slideFromLeft {
    0% {
        transform: translateX(-100em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100em);
    }
    100% {
        transform: translateY(0);
    }
}

h1 {
    color: #000000;
    background-color: #BBBBBB;
    padding: 10px;
    border: solid black thin;
    border-radius: 10px;
    margin-bottom: 5px;
}

div.thumbnails {
    border: solid black thin;
    width: 150px;
    float: left;
    animation: 0.5s ease-out 0s 1 slideFromLeft;
}

div.thumbnails img {
    margin: 5px;
    border-radius: 50%;
    display: block;
    width: 130px;
    border: solid white thick;
}

div.large-photo {
    float: left;
}

div.large-photo img {
    width: 400px;
    margin-left: 10px;
    margin-bottom: 2px;

}

div.thumbnails img:hover {
    border: solid red thick;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(120%);
}

div.thumbnails img.selected {
    border: solid thick blue;
}

div.info {
    display: flex;
    border-radius: 10px;

    border: solid black thin;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    background-color: aliceblue;
    justify-content: space-around;
}

.meta {
    margin-left: 10px;
    padding: 5px;
    background-color: aliceblue;
    width: 390px;
    border: solid black thin;
    animation: 1s ease-out 0s 1 slideFromBottom;
}

.meta h3 {
    margin-top: 0;
    margin-bottom: 2px;
}
.line{
    animation: 1s ease-out 0s 1 slideFromBottom;
}
