<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
       <link rel= "stylesheet" type="text/css" href="{% static 'info/css/cat.css'  %}">
</head>
<body>

<div class="cat">
    <div class="left-ear"></div>
    <div class="right-ear"></div>
    <div class="head">
        <div class="eye left-eye">
            <span></span>
        </div>
        <div class="eye right-eye">
            <span></span>
        </div>
        <div class="eye-cover left-eye-cover">
        </div>
        <div class="eye-cover right-eye-cover">
        </div>
        <div class="nose">
            <span></span>
            <span></span>
        </div>
        <div class="mouth">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="whisker left-whisker">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="whisker right-whisker">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
</body>
</html>