h1 {
    color: #000000;
    background-color: #BBBBBB;
    padding: 10px;
    border: solid black thin;
    border-radius: 10px;
}

div.thumbnails p {
    display: block;
    margin-left: 20px;
}

div.thumbnails {
    border:solid black thin;
    width: 150px;
    float: left;
}

div.CBR_values {
    border:solid rgb(17, 8, 136);
    width: 500px;
    float: left;
    text-align: center;
}

div.thumbnails img {
    margin: 5px;
    border-radius: 50%;
    display: block;
    width: 130px;
    border: solid white thick;
}

div.large-photo {
    float: left;
}

div.large-photo img {
    width: 400px;
    margin-left: 10px;
}

div.thumbnails img:hover {
    border: solid red thick;
    cursor: pointer;
}

div.thumbnails img.selected {
    border: solid thick blue;
}